name: gufe
channels:
  - conda-forge
dependencies:
  - annotated-types
  - coverage
  - msgpack-python
  - networkx
  - numpy
  - openff-toolkit-base >=0.15.1
  - openff-units >=0.3.1
  - openmm
  - pint
  - pip
  - pooch >= 1.9.0  # min needed for https://github.com/fatiando/pooch/issues/502
  - pydantic >=2.0, <2.12
  - pytest
  - pytest-cov
  - pytest-xdist
  - rdkit>=2024.09.1  # github.com/OpenFreeEnergy/gufe/issues/664
  - typing-extensions
  - zstandard
  # docs
  - pydata-sphinx-theme
  - sphinx-jsonschema==1.15
  - sphinx <7.1.2
