name: gufe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge
dependencies:
  - coverage
  - networkx
  - numpy
  - openmm <8.2
  - openff-toolkit >=0.15.1
  - openff-units ==0.2.0  # https://github.com/openforcefield/openff-units/issues/69
  - pint <0.22  # https://github.com/openforcefield/openff-units/issues/69
  - openff-models >=0.0.5
  - pip
  - pydantic >1
  - zstandard
  - pytest
  - pytest-cov
  - pytest-xdist
  - typing-extensions
  - rdkit!=2024.03.6  # https://github.com/OpenFreeEnergy/gufe/issues/456
  - ambertools >=22.0  # why were we getting old ones?
  # docs
  - pydata-sphinx-theme
  - sphinx-jsonschema==1.15
  - sphinx <7.1.2
  # For pablo testing
  - pyxdg
  - pip:
    - autodoc_pydantic<2.0.0
    - git+https://github.com/openforcefield/openff-pablo.git@v0.0.1a1
