name: gufe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge
  - openeye
dependencies:
  - coverage
  - networkx
  - numpy
  - openeye-toolkits
  - openff-toolkit
  - openff-units >=0.1.8
  - pip
  - pydantic
  - pytest
  - pytest-cov
  - pytest-xdist
  - typing-extensions
  - ambertools >=22.0  # why were we getting old ones?
  # docs
  - myst-parser
  - pydata-sphinx-theme
  - sphinx-jsonschema==1.15  # https://github.com/Zsailer/sphinx-pydantic/issues/5
  - sphinx-pydantic
  - pip:
    - git+https://github.com/mikemhenry/openff-models.git@support_nested_models
