name: gufe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge/label/openff-toolkit_rc  # remove when 0.11 released
  - conda-forge
  - openeye
dependencies:
  - numpy
  - networkx
  - rdkit
  - pip
  - pydantic
  - pytest
  - pytest-xdist
  - pytest-cov
  - coverage
  - openff-toolkit >=0.11
  - openff-units
  - openeye-toolkits
  - typing-extensions
