include versioneer.py
include gufe/_version.py

include gufe/vendor/pdb_file/data/*.xml
recursive-include gufe/tests/data/ *.pdb
recursive-include gufe/tests/data/ *.sdf
recursive-include gufe/tests/data/ *.cif
recursive-include gufe/tests/data/ *.mol2
recursive-include gufe/tests/data/ *.json
