[build-system]
requires = [
	"setuptools>=61.2",
	"versioningit",
]
build-backend = "setuptools.build_meta"

[project]
name = "gufe"
description = ""
readme = "README.md"
authors = [{name = "The OpenFE developers", email = "openfe@omsf.io"}]
license = {text = "MIT"}
classifiers = [
    "Development Status :: 5 - Production/Stable"
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Chemistry",
]
urls = {Homepage = "https://github.com/OpenFreeEnergy/gufe"}
requires-python = ">= 3.10"
dependencies = [
    "numpy",
    "networkx",
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-xdist",
]

[tool.setuptools]
zip-safe = false
include-package-data = true
license-files = ["LICENSE"]

[tool.setuptools.packages]
find = {namespaces = false}

[tool.mypy]
files = "gufe"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "gufe.vendor.*"
ignore_errors = true

[tool.coverage.run]
omit = [
    "*/_version.py",
    "*/tests/dev/*py",
    "gufe/tests/*",
    "gufe/vendor/*",
]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "pragma: no-cover",
    "-no-cov",
    "raise NotImplementedError",
    '\.\.\.',
]


[tool.versioningit]
default-version = "1+unknown"

[tool.versioningit.format]
distance = "{base_version}+{distance}.{vcs}{rev}"
dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"
distance-dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"

[tool.versioningit.vcs]
method = "git" 
match = ["*"]
default-tag = "0.0.0"
