name: "conda_cron"
on:
  # Allow for manual trigger of workflow
  workflow_dispatch:
  schedule:
    # At 07:00 UTC every day
    - cron: "0 7 * * *"
  pull_request:
    branches:
      - main

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  condacheck:
    runs-on: ${{ matrix.OS }}
    name: "daily conda check"
    strategy:
      fail-fast: false
      matrix:
        # Cover both x86_64 (macos-13) and osx-arm64 (macos-14)
        os: ['ubuntu-latest', 'macos-13', 'macos-14']
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: gufe
          cache-environment: true
          cache-downloads: true
          create-args: >-
            python=${{ matrix.python-version }}
            pip
          condarc: |
            channels:
              - jaimergp/label/unsupported-cudatoolkit-shim
              - conda-forge
          init-shell: bash

      - name: install gufe and deps
        run: |
          micromamba install gufe pytest pytest-xdist pip -c conda-forge
          python -m pip install PyGithub

      - id: run-tests
        name: run tests
        continue-on-error: true
        run: pytest -n auto --pyargs gufe

      - uses: actions/checkout@v4

      - name: raise-or-close-issue
        env:
          CI_OUTCOME: ${{ steps.run-tests.outcome }}
          TITLE: "[CI] CONDA CRON FAILURE ${{ matrix.os }} python ${{ matrix.python-version }}"
          GITHUB_TOKEN: ${{ github.token }}
        run: python devtools/raise-or-close-issue.py
